.mapouter {
    position: 'relative';
    text-align: right;
    width: '100%';
    height: 23em;
}

.gmap_canvas {
    overflow: 'hidden';
    background: 'none' !important;
    width: '100%';
    height: 23em;
}

.gmap_iframe {
    height: 23em !important;
}